@import 'tailwindcss';
@import "tailwindcss";
@import './leaves.css';
@import './layout-sidebar.css';
@import './attendance.css';
@import './payroll.css';
@import './dashboard.css';
@import './auth.css';
@import './calendar.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../views";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
